*{
	margin: 0;
	padding: 0;
}

/* ************ VARIABLES *********** */

html{
	--background: 	#1B1525;
	--container:	#301C3B;
	--container-interaction: #2B1535;
	--border: 		#54346B;
	--button:		#D1B3A1;
	--title: 		#8457AA;
	--text: 		#E2DDFE;

	/*
	svg1 : #D1B3A1
	svg2 : #EFEFDF
	svg3 : #C1A391
	svg4 : #B19381
	*/
}

/* ************ FONTS *********** */

@font-face {
    font-family: 'peace';
    src: url('font/Peace Sans Webfont.ttf');
}

@font-face {
    font-family: 'stray';
    src: url('font/stray.ttf');
}

@font-face {
    font-family: 'aston';
    src: url('font/Astonpoliz.ttf');
}

body{
	width: 100vw;
	display: flex;
	background-color: var(--background);
	font-family: peace;
	overflow-x: hidden;
}

body *:not(.no-start-animation){
	opacity: 0;
	transition: transform 0.4s;
	transform: scale(0.5);
}

a{
	text-decoration: none;
}

button:hover{
	cursor: pointer;
}

/* boutons */

.link{
	position: relative;
	font-size: 1.2vw;
	font-family: aston;
	color: var(--button);
	display: flex;
	justify-content: center;
	transition: 0.2s !important;
}

.link-underline{
	position: absolute;
	width: 0vw;
	height: 3vh;
	border-bottom: 0.3vh solid var(--button);
	transition: 0.15s !important;
}

.link:not(.beta-button):hover .link-underline{
	width: 100%;
}

.link-text{
	color: var(--button);
}

/* notification */

#notification{
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%) !important;
	z-index: 10;
	width: 6vw;
	height: 6vh;
	overflow: hidden;
}

#notification-text{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-color: var(--button);
	color: var(--background);
	border-radius: 1vw;
	font-family: aston;
	font-size: 1.2vw;
	top: 7vh;
	transition: 0.3s !important;
}

/* paramètres langue et theme */

#params{
	position: fixed;
	left: 90vw;
	top: 4vh;
	width: 7.5vw;
	height: 5vh;
	z-index: 10;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--button);
	border-radius: 1vw;
}

#params button{
	border: 0;
	background-color: var(--button);
	display: flex;
	justify-content: center;
	align-items: center;
}

#params-light{
	width: 1.3vw;
	fill: var(--title);
	transition: 0.2s !important;
}

#params-lang{
	color: var(--background);
	font-size: 1vw;
	font-family: aston;
}

#params-separator{
	height: 55%;
	border: 0.1vw solid var(--background);
}

#params-light:hover{
	fill: var(--text);
}

#params-lang:hover{
	color: var(--text);
}

/* flèche de retour en haut de page */

#scroll-button{
	z-index: 10;
	position: fixed;
	left: 95vw;
	border: 0;
	background-color: transparent;
	width: 3vw;
	height: 3vw;
	transform: scale(0);
	transition: transform 0.3s;
}

.beta-button p{
	text-decoration: line-through;
}