*{
	margin: 0;
	padding: 0;
}

/* ************ VARIABLES *********** */

html{
	--background: 	#1B1525;
	--container:	#301C3B;
	--container-interaction: #2B1535;
	--border: 		#54346B;
	--button:		#9A5CD0;
	--title: 		#8457AA;
	--text: 		#E2DDFE;
}

/* ************ FONTS *********** */

@font-face {
    font-family: 'peace';
    src: url('font/Peace Sans Webfont.ttf');
}

@font-face {
    font-family: 'stray';
    src: url('font/stray.ttf');
}

@font-face {
    font-family: 'aston';
    src: url('font/Astonpoliz.ttf');
}

body{
	width: 100vw;
	display: flex;
	background-color: var(--background);
	font-family: peace;
	overflow-x: hidden;
}

a{
	text-decoration: none;
}

button:hover{
	cursor: pointer;
}

.link{
	position: relative;
	font-size: 1.2vw;
	font-family: aston;
	color: var(--button);
	display: flex;
	justify-content: center;
	transition: 0.2s !important;
}

.link-underline{
	position: absolute;
	width: 0vw;
	height: 3vh;
	border-bottom: 0.3vh solid var(--button);
	transition: 0.15s !important;
}

.link:hover .link-underline{
	width: 100%;
}

#notification{
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%) !important;
	z-index: 10;
	width: 6vw;
	height: 6vh;
	overflow: hidden;
}

#notification-text{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-color: var(--button);
	color: var(--background);
	border-radius: 1vw;
	font-family: aston;
	font-size: 1.2vw;
	top: 7vh;
	transition: 0.3s !important;
}