body{
	flex-direction: column;
	align-items: center;
}

body *:not(.no-start-animation){
	opacity: 0;
	transition: transform 0.4s;
	transform: scale(0.5);
}

/* ********** HEADER ********** */

header{
	width: 100%;
	height: 20vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#header-name{
	font-size: 5em;
	color: var(--title);
}

#header-links{
	width: 20%;
	display: flex;
	justify-content: space-between;
}

/* ********** ABOUT ME ********** */

#aboutme{
	width: 100%;
	height: 85vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#aboutme-photo img{
	width: 25vw;
	height: 25vw;
	object-fit: cover;
	border-radius: 3vw;
	box-shadow: -4vw -3vw var(--border);
}

#aboutme-description{
	width: 40vw;
	height: 60%;
	font-size: 1.4vw;
	font-family: aston;
	color: var(--text);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/*line-height: 3.6vh;*/ /* espacer les lignes */
}

#aboutme-description h1{
	font-family: peace;
}

#aboutme-description-title-color{
	position: absolute;
	top: 2.5vh;
	left: 2vw;
	width: 75%;
	height: 85%;
	background-color: var(--container);
	border-radius: 1em;
}

#aboutme-contacts{
	display: flex;
	align-items: center;
	width: 100%;
}

.aboutme-contacts-container{
	width: 6%;
	overflow: hidden;
	padding: 1.5vh 1vw;
	border-radius: 1em;
	transition: 0.3s !important;
	display: flex;
	align-items: center;
	white-space: nowrap;
	gap: 0.8em;
}

.aboutme-contacts-copy{
	max-width: 1vw;
}

#aboutme-contacts-mail:hover{
	width: 58%;
	background-color: var(--container);
	cursor: pointer;
}

#aboutme-contacts-phone:hover{
	width: 38%;
	background-color: var(--container);
	cursor: pointer;
}

#aboutme-contacts img{
	width: 1.6em;
	max-height: 1.6em;
}

/* ********** TECHS ********** */

#techs{
	width: 100%;
	height: 40vh;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
}

.techs-container{
	width: 28%;
	height: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	overflow: hidden;
}

#techs-container-hidden{
	width: 40%;
	height: 0%;
	transition: 0.3s !important;
}

.tech{
	width: 5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1vw;
	border-radius: 1em;
	transform: scale(0);
	transition: transform 0.4s; /* doesn't need important */
}

.tech-svg{
	max-height: 6em;
	max-width: 6em;
}

#techs-button{
	background-color: var(--background);
	border: 0;
}

.tech:hover{
	background-color: var(--container);
}

/* ********** PROJETS ********** */

#projects{
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#projects-container{
	width: 100vw;
	height: 80%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.project{
	width: 30%;
	height: 100%;
	overflow: hidden;
	background-color: var(--container);
	border-radius: 3vw;
	transition: 0.2s !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	border: 3px solid var(--border);
	font-family: peace;
}

.project-description-title{
	width: 80%;
	height: 20%;
	display: flex;
	align-items: center;
	font-size: 3em;
	color: var(--title);
}

.project-description-text{
	width: 80%;
	height: 20%;
	display: flex;
	font-size: 2em;
	font-family: aston;
	color: var(--text);
	text-align: start;
}

.project-description-techs{
	width: 80%;
	height: 20%;
	display: flex;
	align-items: center;
}

.project-description-techs img{
	max-width: 10%;
	margin-right: 1vw;
}

.project-description-image{
	width: 100%;
	height: 40%;
	transition: 0.3s !important;
	position: absolute;
	bottom: 0%;
}

.project-description-image img{
	object-fit: cover;
	height: 100%;
	width: 100%;
	transition: 0.3s;
}

.project:hover{
	background-color: var(--container-interaction);
}

/* ********** FOOTER ********** */

footer{
	width: 100%;
	height: 15vh;
	background: var(--container);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: var(--text);
	font-family: aston;
	margin-top: 10vh;
	font-size: 1.2em;
}

#footer-links{
	font-family: aston;
	width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#footer-links *{
	color: var(--text);
	transition: 0.1s;
}

#footer-links a:hover{
	color: var(--button);
}

#footer-contacts img{
	width: 1.4vw;
	margin-right: 1vw;
}